@tailwind base;
@tailwind components;
@tailwind utilities;


@layer base {
    @font-face {
        font-family: 'gg sans';
        font-style: normal;
        font-weight: normal;
        src: url('./assets/fonts/gg-sans/gg sans Regular.woff') format('woff');
    }
}

@layer components {
    .sidebar-item {
        @apply relative flex items-center justify-center min-h-12 max-h-12 w-12 mt-2 mx-auto shadow-lg bg-gray-800 text-green-500 cursor-pointer hover:bg-green-600 hover:text-white rounded-3xl hover:rounded-xl transition-all duration-150 ease-linear group-hover:rounded-xl;
    }

    .sidebar-tooltip {
        @apply absolute w-auto p-2 m-2 min-w-max left-16 rounded-md shadow-md text-sm text-white bg-gray-900 font-bold transition-all duration-100 origin-left scale-0;
    }

    .sidebar-divider {
        @apply w-8 mx-auto border-b-2 rounded border-gray-700 mt-2;
    }

    .sidebar {
        @apply fixed top-0 left-0 flex flex-col h-screen w-[4.5rem] bg-gray-900 text-white shadow-lg pt-1 z-50;
    }

    .sidebar-item.discord-icon {
        @apply hover:bg-blue-600 text-white;
    }

    .server-messages {
        @apply absolute w-2 h-2 bg-gray-200 -left-4 rounded-lg;
    }

    .server-unread-messages {
        @apply server-messages group-hover:h-5 transition-all ease-linear duration-100;
    }


    .active-server {
        @apply server-messages h-8;
    }

    .active-server+img {
        @apply rounded-xl;
    }

    .topbar {
        @apply flex items-center justify-between shadow-lg w-full px-4 py-3 font-semibold text-[0.975rem];
    }
}